# Server Configuration
NODE_ENV=development
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:4200

# Microservices gRPC URLs
AUTH_SERVICE_URL=localhost:50052
ORDER_SERVICE_URL=localhost:50053
CATALOG_SERVICE_URL=localhost:50051

# JWT (must match Auth Service secret)
JWT_SECRET=your-super-secret-jwt-key-change-in-production-DeliverEats2026
