# Server Configuration
NODE_ENV=development
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:4200

# Microservices gRPC URLs
AUTH_SERVICE_URL=localhost:50052
CATALOG_SERVICE_URL=localhost:50051
ORDER_SERVICE_URL=localhost:50053
DELIVERY_SERVICE_URL=localhost:50054
FX_SERVICE_URL=localhost:50056
PAYMENT_SERVICE_URL=localhost:50057

# JWT (must match Auth Service secret)
JWT_SECRET=your-super-secret-jwt-key-change-in-production-DeliverEats2026
