[defaults]
inventory         = inventory/hosts.ini
remote_user       = ubuntu
private_key_file  = ~/.ssh/id_rsa
host_key_checking = False        # Evita el prompt de "known_hosts" en primera conexión

# Muestra resultados más legibles en terminal
stdout_callback   = yaml
stderr_callback   = yaml

# Paralelismo: configura cuántos hosts se trabajan a la vez
forks = 5

[ssh_connection]
# Reutiliza conexiones SSH → más rápido en playbooks largos
pipelining = True
